/* app.css */
body {
  background-color: #1f2937;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
  padding: 2rem;
  color: #111827;
}

.container {
  max-width: 800px;
  margin: 0 auto;
}

h1 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
  font-weight: bold;
  color: #fff;
}

label {
  display: block;
  margin-bottom: 0.5rem;
  font-weight: 500;
}

textarea {
  max-width: 100%;
  min-height: 100px;
  width: 100%;
  height: calc(100vh - 200px);
  padding: 1rem;
  font-family: monospace;
  font-size: 0.95rem;
  border: 1px solid #d1d5db;
  border-radius: 8px;
  background-color: #111827;
  color: #ffffff;
  box-sizing: border-box;
  transition: border 0.2s, box-shadow 0.2s;
}

textarea:focus {
  border-color: #3b82f6;
  outline: none;
  box-shadow: 0 0 0 3px rgba(59, 130, 246, 0.2);
}

.actions {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
  gap: 5px
}

button {
  color: #ffffff;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 0.95rem;
  transition: background-color 0.2s;
}


.save-button {
  background-color: #10b981;
  &:hover {
    background-color: #059669;
  }
}

.backup-button {
  background-color: #3b82f6;
  &:hover {
    background-color: #1c6bea;
  }
}

.restore-button {
  display: inline-block;
  background-color: #f59e0b;
  color: #ffffff;
  padding: 0;
  border: none;
  border-radius: 6px;
  font-size: 0.95rem;
  transition: background-color 0.2s;
  text-align: center;
  &:hover {
    background-color: #d78c0a;
  }
  
  label {
    padding: 0.5rem 1rem;
    margin: 0 !important;
    cursor: pointer;
  }
}
