
.hidden {
    display: none !important;
}
.pointer {
    cursor: pointer !important;
}
.w-100 {
    width: 100% !important;
}

.db-folder-wrapper {
    /* background-color: #171717; */
    width: 280px;
    position: fixed;
    right: 0;
    top: 50%;
    transform: translate(100%, -50%);
    &.visible {
        transform: translate(0%, -50%);
    }
    
    .db-toggle-folder-wrapper {
        position: absolute;
        &:before {
            content: 'Folders';
            transform: rotate(-90deg);
            display: block;
            position: absolute;
            left: -50px;
            top: 30px;
            color: #171717;
            background-color: #1da484;
            padding: 0 10px 5px;
            border-radius: 5px 5px 0 0;
        }
    }
    
    .db-folder-wrapper-container {
        display: flex;
        flex-direction: column;
        gap: 5px;
        border: 1px solid #3c3c3c;
        border-radius: 5px;
        padding: 5px;
        position: relative;
        background-color: black;
    }
}

.no-folders-message {
    padding: 5px;
    height: 100px;
    display: flex;
    justify-content: center;
}

#db-folders-container {
    max-height: 500px;
    overflow-y: scroll;
    --shadow-color: #ffffff55;
    --shadow-size: 15px;
    background-position-y: var(--shadow-offset);
    background-size: 100% calc(100% - var(--shadow-offset));
    
    animation: scroll-shadows cubic-bezier(.25,.85,.8,.22);;
    animation-timeline: scroll(self);
    animation-range: 0 100%;
    background-image: linear-gradient(
        var(--shadow-color) 0%,
        transparent calc((var(--scroll)) * var(--shadow-size)),
        transparent calc(100% - var(--shadow-size) * (1 - var(--scroll))),
        var(--shadow-color) 100%
    );
}

@property --scroll {
  syntax: '<number>';
  inherits: true;
  initial-value: 0;  
}

@keyframes scroll-shadows {
  /* Sets the shadow-color only if the element is scrollable */
  from, to { --shadow-color: #FFF9; }
  to {
    --scroll: 1;
  }
}


#db-folders {
    /* margin-top: 5px; */
    display: flex;
    flex-direction: column;
    gap: 3px;
}
#db-prompt-folder-btn {
    width: 100%;
    padding: 5px 10px;
    /* margin-bottom: 5px; */
    /* background-color: #6d6d6d; */
    color: white;
    font-size: 14px;
    border: 1px solid #6d6d6d;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    
    &:hover {
        background-color: #454545;
    }
}
.db-folder-item-container {
    border: 1px solid #565656;
    border-radius: 5px;
    overflow: hidden;
}
.db-folder-list-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 5px;
    /* margin: 5px 10px; */
    padding: 4px 8px;
    background-color: #262626;
    border-radius: 5px 5px 0 0;
    font-size: 14px;
}
.db-folder-list-item span:first-child, .db-prompt-item-link {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
    
.db-folder-actions {
    display: flex;
    gap: 5px;
}

#db-prompt-modal-overlay {
    position: fixed;
    top: 0; left: 0;
    width: 100vw; height: 100vh;
    background-color: #00000099;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

#db-prompt-modal {
    background-color: #383838;
    padding: 30px 20px 20px;
    border-radius: 8px;
    width: 300px;
    box-shadow: 0 4px 10px #00000033;
    text-align: center;
    input[type=text] {
        width: 100%;
        padding: 8px;
        margin-bottom: 12px;
        border: 1px solid #ccc;
        border-radius: 4px;
        color: #fff;
        background-color: #1d1d1d;
    }
    button {
        color: #ffffff;
        padding: 0.5rem 1rem;
        font-size: 0.875rem;
        font-weight: 500;
        border-radius: 0.375rem;
        transition: background-color 0.2s, border-color 0.2s, transform 0.1s;
        cursor: pointer;
    }

    .folder-form-submit-btn {
        background-color: #1da484;
        border-color: #1da484;
        &:hover {
            background-color: #199074;
            border-color: #199074;
        }
    }
    
    .folder-form-close-btn {
        background-color: #484848;
        border-color: #484848;
        &:hover {
            background-color: #656565;
            border-color: #7e7e7e;
        }
    }

    button:active {
        transform: scale(0.97);
    }
}
    
.db-folder-list-modal-overlay {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #00000080;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 9999;
}
.db-folder-list-modal {
    background-color: #383838;
    border-radius: 0.5rem;
    padding: 1rem;
    width: 300px;
    max-height: 500px;
    overflow-y: auto;
}
.db-folder-list-modal-header {
    font-size: 1.125rem; /* 18px */
    font-weight: 600;
    margin-bottom: 0.5rem;
}
.db-folder-list-modal-btn {
    display: flex;
    cursor: pointer;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    text-align: left;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    border-radius: 5px;
    &:hover {
        background-color: #5e5e5e;
    }
    span {
        display: block;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
    }
}
.db-folder-icon {
    margin-left: 0.5rem;
    font-size: 0.875rem; /* 14px */
    width: 20px;
    display: block;
    background-color: #3a3a3a;
    border-radius: 50%;
}
.db-prompt-item {
    /* margin-left: 10px; */
    padding: 5px;
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
}
.db-prompt-item-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 4px 8px;
    /* background-color: #262626; */
    border-radius: 5px;
    font-size: 14px;
    &:hover {
        background-color: #262626;
    }
    &.active {
        background-color: #3a3a3a;
    }
}
.db-folder-list-modal-buttons {
    display: flex;
    justify-content: space-around;
    margin-top: 1rem;
    button {
        border: 2px solid #9d9d9d;
        color: white;
        padding: 5px 10px;
        border-radius: 5px;
        cursor: pointer;
        &:hover {
            background-color: #7a7a7a;
        }
    }
}
#db-add-to-folder-btn {
    position: fixed;
    bottom: 30px;
    right: 30px;
    height: 40px;
    width: 40px;
    background-color: #fff;
    border-radius: 50%;
}


[type=color] {
    appearance: none;
    background-color: transparent;
    width: 100%;
    height: 60px;
    border: none;
    cursor: pointer;
}
[type=color]::-webkit-color-swatch {
  border-radius: 5px;
  border: none;
}
[type=checkbox] {
    width: 1rem;
    height: 1rem;
    color: #767676;
    vertical-align: middle;
    appearance: none;
    background-color: none;
    border: 0;
    outline: 0;
    flex-grow: 0;
    border-radius: 50%;
    background-color: #FFFFFF;
    transition: background 300ms;
    cursor: pointer;
}
[type=checkbox]:focus {
    --tw-ring-color: #858585;
}

[type=checkbox]::before {
    content: "";
    color: transparent;
    display: block;
    width: inherit;
    height: inherit;
    border-radius: inherit;
    border: 0;
    background-color: transparent;
    background-size: contain;
    box-shadow: inset 0 0 0 1px #CCD3D8;
}
[type=checkbox]:checked {
    background-color: #6e6e6e;
}
[type=checkbox]:checked::before {
    box-shadow: none;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E %3Cpath d='M15.88 8.29L10 14.17l-1.88-1.88a.996.996 0 1 0-1.41 1.41l2.59 2.59c.39.39 1.02.39 1.41 0L17.3 9.7a.996.996 0 0 0 0-1.41c-.39-.39-1.03-.39-1.42 0z' fill='%23fff'/%3E %3C/svg%3E");
}